@charset "UTF-8";
/* CSS Document */

body
{
	font-family: "calibri", Arial, Helvetica, sans-serif;	
}

.main_main_container
{
	margin: auto;	
}

.main_container
{
	width: 100%;
	max-width: 954px;
	float:right;
}


.sidenav_categories
{
	position: fixed;
	top: 150px;
	left: 0px;
		
}
.sidenav_categories ul
{
	list-style: none;
	margin: 0px;
	padding: 0px;
	margin-left: -12px;
}
.sidenav_categories ul li
{
	list-style: none;
	margin: 0px;	
	padding: 0px;
	margin-top: -14px;
	cursor: pointer;
}

.sidenav_categories ul li img
{
	text-align: right;	
}

.sidenav_categories ul li a:link, .sidenav_categories ul li a:visited
{
	color: #39B54A;
}

.cat_title
{
	display: none;	
	margin-left: 16px;
	width: 86px;
	font-weight: bold;
	font-size: 120%;
	padding: 4px 0px 0px 4px;
	color: #39B54A;	
}

.sidenav_cat
{
	width: 70px;	
	height: 68px;
}

.category_img
{
	width: 30%;
	float: right;
}
.category_1
{
	background: url(../images/nav-foodsecurity.png) right no-repeat;	
}

.category_2
{
	background: url(../images/nav-biofuels.png) right no-repeat;	
}

.category_3
{
	background: url(../images/nav-oceanic.png) right no-repeat;	
}

.category_4
{
	background: url(../images/nav-forestry.png) right no-repeat;	
}

.category_5
{
	background: url(../images/nav-historypaleo.png) right no-repeat;	
}

.category_6
{
	background: url(../images/nav-animallife-insects.png) right no-repeat;	
}

.category_7
{
	background: url(../images/nav-mammals.png) right no-repeat;	
}

.category_8
{
	background: url(../images/nav-marine.png) right no-repeat;	
}


.logo_searchbar_area
{
	background: url(../images/green_gradient.jpg) repeat-y #8cc63f;
	padding: 5px;	
	margin-bottom: 20px;
}


.uilogo
{
	margin-right: 80px;
}

.form-search
{
	width: 35%;	
	margin: 0px;
	padding: 0px;
	float: right;
}

.input-append
{
	margin: 0px;
	width: 100%;
}

.search-query
{
	width: 70%;	
	margin: 0px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	margin-top: 3px;
	height: 17px;
	line-height: 17px;
}

.btn
{
	background: #006738;	
	font-size: 12px;
	line-height: 17px;
	border-bottom-color: #333;
	color: #ccc;
	margin-top: 3px;
	text-shadow: none;
}

.btn:hover 
{
	background: #8DC63F;
	border-bottom-color: #ccc;	
}

.icons
{
	float: right;
}

.icon
{
	
	margin-top: 4px;
	margin-right: 15px;	
	float: right;
}

.footer .icon
{
	float: none;
}

.header
{
	width: 100%;
	max-width: 1066px;
	margin: auto;	
	
}

.clear { clear:both; }


.category
{
	width: 234px;
	float: left;
	margin-right: 4px;
}
.category_img
{
	width: 234px;	
}
.category_content h2
{
	font-size: 130%;
	margin-bottom: 0px;
	
}
.category_content p
{
	line-height: 110%;
	margin-top: -4px;
}

h2 a:link,  h2 a:visited
{
	color: #39B54A;	
}

.podcast
{
	
}
.podcast .category_img, .podcast .category_content
{
	float: left;
}

.podcast .category_img
{
	margin-bottom: 20px;	
}

.podcast .category_content h2
{
	margin-top: -10px;
}

.podcast .category_content
{
	padding: 0 15px;
	width:70%;
	max-width: 690px;
}

.podcast .category_content a:link, .podcast .category_content a:visited
{
	color: #39B54A;	
}

.podcast .podcast_media
{
	width: 100%;	
}

.podcast .podcast_media_links
{
	font-size: 150%;
}

.podcast audio
{
	width: 100%;
}

.podcastlist a:link, .podcastlist a:visited
{
		color: #39B54A;	
		font-weight: bold;
}
.podcast_media_links a:links, .podcast_media_links a:visited
{
	color: #39B54A;	
		font-weight: bold;
}

.container_category_podcastlist
{
	width: 49.5%;
	float:left;	
	margin-top: -10px;
}

.container_category_podcastlist h2
{
	margin-top: 0px;	
}

.podcastlist
{
	border: 1px #ddd solid;	
	
}

.podcastlist h2
{
	margin-top: 0px;
	margin-left: 10px;	
}

.podcastlist ol
{
	
}
.podcastlist ol li
{
	margin-left: 20px;	
	margin-bottom: 10px;
	width: 93%;
}

.container_category_podcastlist .category
{
	width: 100%;
	margin-bottom: 6px;	
}

.container_category_podcastlist .category_content p a:link, .container_category_podcastlist .category_content p a:visited
{
	color: #333;
}

.container_category_podcastlist .category_content p a:active, .container_category_podcastlist .category_content p a:hover
{
	color:#39B54A;
}

.container_category_podcastlist .category_img, .container_category_podcastlist .category_content
{
	float: left;	
}

.container_category_podcastlist .category_img
{
	width: 49%;	
}
.container_category_podcastlist .category .category_content
{
	width: 48%;
	padding: 0px 6px;
	font-size: 90%;
	margin: 0px;
}
.container_category_podcastlist .category .category_content p
{
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;	
	line-height: 110%;
}
.container_category_podcastlist .category .category_content h2
{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;	
}

.pagination ul li a:link, .pagination ul li a:visited
{
	color: #39B54A;
}

.footer
{
	background: url(../images/green_gradient.jpg) repeat-y #8cc63f;	
	padding: 15px;	
	color: #fff;
	font-size:85%;
	margin: 10px 0px;
		
}

.footer ul
{
	margin-top: 10px;	
}

.footer li
{
	list-style: none;
	margin-left: -15px;
	padding: 0px;
	line-height: 105%;
}

.footer a:link, .footer a:visited
{
	color: #fff;	
}
.footer a:active, .footer a:hover
{
	color: #333;	
}
.footer p
{
	line-height: 120%;	
	padding: 10px;
}

.toe
{
	float: left;
	width: 25%;	
}
.toe img
{
	width:100%;	
}
.toe .icon 
{
	width: 25px;
	height: 25px;	
}

.igb
{
	font-size: 180%;	
	text-transform: uppercase;
	font-weight: lighter;
	
}

.bot
{
	text-align: center;
	color: #666;
	font-size: 80%;
}

.center
{
	text-align: center;
	
}

.color1
{
	color: #99CC33;	
}

.color2
{
	color: #33CC33;	
}

.color3
{
	color: #009933;	
}

hr 
{
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: #ddd solid 1px;
}

.login
{
	background: #009444;
	padding: 0px 6px;	
}
.li_login
{
	margin-bottom: 10px;	
}


h1
{
	text-align: center;
	font-weight: lighter;
}

h1 a:active, h1 a:hover
{
	color: #39B54A;
}

h2, .container_category_podcastlist podcastlist h2
{
	
	color: #39B54A;	
	font-size: 160%;	
}

.tinynav { display: none; }
.mainnavtag { display: none; }

@media only screen and (max-width: 960px) 
{
	.container_category_podcastlist .category .category_content, .container_category_podcastlist .category .category_img
	{
		width: 98%;
		
	}
	
}
@media only screen and (max-width: 780px) 
{
	
	
}
@media only screen and (max-width: 1030px) 
{
	.main_container
	{
		width: 90%;
		float:none;
		margin-left: 60px;
	}
	
	
	
	.logo_searchbar_area
	{
		padding: 5px;	
		margin-bottom: 20px;
	}
	
	.icons
	{
		text-align: center;
	}
	
	
	
	.podcast
	{
		width: 95%;	
	}
	.container_category_podcastlist
	{
		width: 48%;	
	}
	
	
	.podcast .category_content
	{
		width: 90%;	
	}
	
	.footer
	{
		width: 95%;	
	}
	
	
	
}

@media only screen and (max-width: 575px) 
{
	.main_container .category, .main_container .category .category_img, .main_container .category_content, .category_img img, .podcast .category_img, .footer select , .logo_searchbar_area
	{
		width: 100%;	
	}
	.main_container
	{
		width: 100%;
	}

.header, .icon
	{
		text-align: center;
		float: none;
	}
	
	.icons
	{
		
		width: 100%;
	}
	.uilogo
	{
		margin-right: 26px;
	}
	.form-search
	{
		width: 100%;	
		margin: 0px;
		padding: 0px;
	}
	
	.input-append
	{
		margin: 0px;
		width: 100%;
	}
	
	.search-query
	{
		width: 70%;	
		margin: 0px;
	}
	
	.main_container
	{
		text-align: left;	
	}
	.container_category_podcastlist .category_content, .container_category_podcastlist .category_img
	{
		text-align: left;
		width: 40%;
	}
	
	.container_category_podcastlist
	{
		width:99%;	
	}
	.podcast .category_content
	{
		width: 99%;	
	}
	.main_container .category_content
	{
		padding-left: 10px;	
	}
	
	.main_container
	{
		margin-left: 0px;	
		
	}
	.tinynav { display: block; }
	.sidenav_ul { display: none; }
	.sidenav_categories
	{
		top: 0px;
	}
	.sidenav_categories select, .cat_title, .footer select
	{
		width: 100%;
		max-width:100%;	
		font-size: 200%;
		height: 50px;
	}
	h1 { margin-top: 80px; }
	
	.podcast .category_img img, .container_category_podcastlist img, .container_category_podcastlist h2, .category .category_img img, .container_category_podcastlist
	{
		width: 100%;
		padding: 10px;
	}
	
	.toe
	{
		float: none;
		width: 100%;	
	}
	.footer
	{
		width: 100%;
		font-size: 110%;	
	}
	.footer ul, .pagination select 
	{
		display: none;
	 }
	
	.category_content p
	 {
		font-size: 120%; 
		line-height: 130%;
	 }
	
}
@media only screen and (max-width: 545px) 
{
	.main_container .category, .main_container .category .category_img, .main_container .category_content, .category_img img, .podcast .category_img, .footer select , .logo_searchbar_area
	{
		width: 100%;	
	}
	.main_container
	{
		width: 100%;
	}
	.main_container .category_content
	{
		padding-left: 10px;	
	}
	
	.main_container
	{
		margin-left: 0px;	
		
	}
	.tinynav { display: block; }
	.sidenav_ul { display: none; }
	.sidenav_categories
	{
		top: 0px;
	}
	.sidenav_categories select, .cat_title
	{
		width: 100%;
		max-width:100%;	
		font-size: 200%;
		height: 50px;
	}
	h1 { margin-top: 80px; }
	
	.podcast .category_img img, .container_category_podcastlist img, .container_category_podcastlist h2, .category .category_img img, .container_category_podcastlist
	{
		width: 100%;
		padding: 10px;
	}
	
	.toe
	{
		float: none;
		width: 100%;	
	}
	.footer
	{
		width: 100%;
		font-size: 125%;	
	}
	.footer ul, .pagination select 
	{
		display: none;
	 }
	.category_content p
	 {
		font-size: 120%; 
		line-height: 130%;
	 }
}